{{define "title"}}Error{{end}}

{{define "head"}}
{{end}}

{{define "dialogs"}}
{{end}}

{{define "content"}}
	<h3>Beep boop.</h3>
	<p>
		There was an error.<br>
		Probably need to sign in.<br>
		<a href="/">Sign in here!</a>
	</p>

{{end}}
