{{define "title"}}CySwapper{{end}}

{{define "head"}}
<script	src="/js/db.js"></script>
{{end}}

{{define "dialogs"}}
{{end}}

{{define "content"}}
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-desktop">
		<p title="Run through Iowa State University">Welcome to ComSci 309 Project, <h2>CySwapper!</h2></p>
		<p>We are team 16 - YT_B_2</p>
		<p>"There's an easier way to do this" - Layton Nelson (2017)</p>
		<ul>
			<li>Meghna Chandrasekaran</li>
			<li>Kristina Robinson</li>
			<li>Layton Nelson</li>
			<li>Kyle Zelnio</li>
		</ul>
		<a href="/login" class="button mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
			Log in with Google
		</a>

		<br><br><br><br>
		<div>
			<object type="text/html" data="http://proj-309-yt-b-2.cs.iastate.edu:5000/" width="800px" height="600px" style="overflow:auto;border:5px ridge blue">
			</object>
		 </div>
	</div> <!-- mdl-cell -->
</div> <!-- mdl-grid -->
{{end}}
